<% provide(:title, "About Us") %>
<div class="content-container ">
  <div class="page-content">
    <h1>会社について</h1>
    <h2>営業時間</h2>
    <p>
       月〜金: 9:00〜17:00（ニュージーランド時間）</br>
       土、日、祝日: 休日
    </p>
    <h2></h2>
    <p>
       </br>
    </p>
    <h2>連絡先電話番号</h2>
    <p>
       +64-7-808-0668 (代表)</br>
    </p>
  </div>
</div>
