
<div class="home-content">
<div class="home-section-white">
  <div class="section-copy">
    <h2 class="section-title">You don't know, </br> what you don't know</h2>
    <p>
      </br>
      Creating a new application involves uncertainty.
      Before you jump headfirst, you need to know your chances of success.
      We will empower you to decide whether to continue with your app,
      or go back to the drawing board.
      </br>
      </br>
  </div>
  <div class="section-img">
    <%= image_tag('amrr_home_section1.jpg', alt: "We make it safer for you") %>
  </div>
</div>
<div class="home-section">
  <div class="section-copy">
    <h2 class="section-title">Look before you leap</h2>
    <p>
      </br>
      The median cost to make an iOS app is around $150 USD per hour.
      If your new app needs 500 hours of development, that will be
      $75,000. That’s not the type of money you want to throw away.
      We can market test your new app before you start development,
      and even start generating some buzz.
      </br>
      </br>
    </p>
  </div>
  <div class="section-img">
    <%= image_tag('amrr_home_section2.jpg', alt: "Know it before you create it") %>
  </div>
</div>
<div class="home-section-white">
  <div class="section-copy">
    <h2 class="section-title">Test the waters</h2>
    <p>
      </br>
      If you are concerned about how your app will go in the market, we can help.
      We can advertise your app before you have even created it.
      We can test the waters and see how much interest there is.
      We can also create landing pages and even full web sites for you if need be.
      We can also investigate the level of competition you currently face in the market.
      <%= link_to "You can see our whole plan from here.", pricing_path %>
    </p>
  </div>
  <div class="section-img">
    <%= image_tag('amrr_home_section3.jpg', alt: "Know it before you create it") %>
  </div>
</div>
</div>
