<% provide(:title, "Help") %>
<div class="content-container ">
  <div class="page-content">
    <h1>ヘルプ</h1>
    <p>
      サービスについてさらに詳しく知りたい場合やご質問がある場合は
      <%= link_to "こちらからお問い合わせください", contact_path %>。
    </p>
  </div>
</div>
