<% provide(:title, "Help") %>
<div class="content-container ">
  <div class="page-content">
    <h1>Help</h1>
    <p>
      If you want to know more about our services or need some help,
      <%= link_to "please contact us from here", contact_path %>.
    </p>
  </div>
</div>
