<% provide(:title, "Pricing") %>
<div class="content-container ">
  <div class="price-content">
    <h1>Pricing</h1>
    <p class="small">
      All rates are indicative of the usual hourly cost.</br>
      Final quotes are provided after more in-depth consultation and needs analysis.
      </br>
    </p>
    <h2>Marketing and consulting</h2>
    <p>
      $75 per hour</br>
    </p>
    <h2>Advertising</h2>
    <p>
      $100 per ad as well as cost of advertising medium</br>
    </p>
    <h2>Web development and internationalization</h2>
    <p>
      $100 per hour</br>
    </p>
    <h2>Web translation</h2>
    <p>
      $50 per hour</br>
    </p>
    <h2>Translation of emails</h2>
    <p>
      Mini $100 per month (up to 10 emails per month)</br>
      Standard $500 per month (up to 100 emails per month)</br>
      Mega $1000 per month (up to 300 emails per month)</br>
      Excess $10 per email</br>
    </p>
    <h3>
      <%= link_to "Please contact us for a quote from here.", contact_path %>
    </h3>
    <p>
      </br>
      *All the pricing are in US dollars</br>
      </br>
    </p>
  </div>
</div>
