<% provide(:title, "Pricing") %>
<div class="content-container ">
  <div class="page-content">
    <h1>価格</h1>
    <h2>マーケティングとコンサルテーション</h2>
    <p>
      １時間ごと　7500円</br>
      </br>
    </p>
    <h2>広告出稿</h2>
    <p>
      １広告出稿あたり10000円 + 広告費（実費）</br>
      </br>
    </p>
    <h2>アプリケーション作成と国際化</h2>
    <p>
      １時間ごと　10000円</br>
      </br>
    </p>
    <h2>ウェブ翻訳</h2>
    <p>
      １時間ごと　5000円</br>
      </br>
    </p>
    <h2>メール翻訳と転送</h2>
    <p>
      ミニ　　　　　月額10000円　（月10通まで）</br>
      スタンダード　月額50000円　（月100通まで）</br>
      メガ　　　　月額100000円　（月300通まで）</br>
      超過分　１通ごとに1000円</br>
      </br>
    </p>
    <h2>
      <%= link_to "お見積もりはこちらから", contact_path %>
    </h2>
    <p>
      </br>
      </br>
      </br>
      </br>
    </p>
  </div>
</div>
