<% provide(:title, "Terms and Conditions") %>
<div class="content-container ">
  <div class="page-content">
    <div class="terms">
      <h1>Website Design & Web Development Terms and Conditions</h1>
      <p>
        In the absence of a specific contract for your web design or web
        development project, this contract will apply.</br>
        </br>
        Wisteria Web Solutions will endeavour to operate in a fair and reasonable
        manner at all times and it is part of our ethos to ensure we maintain a
        great relationship with our clients. It is, however, important to agree
        to certain contractual aspects in order to protect both parties.
        By undertaking a web design and development project with Wisteria Web
        Solutions, you are agreeing to the following terms and conditions.</br>
      </p>
      <h2>1. Relationship of the Parties</h2>
      <p>
        The parties intend that an independent contractor relationship will be
        created by this contract, and that no partnership, joint venture or
        employee/employer relationship is intended or implied.</br>
      </p>
      <h2>2. Project Process</h2>
      <p>
        Wisteria Web Solutions cannot always guarantee to start work immediately
        on a project but will arrange a date with the client as to when work can
        commence.</br>
        </br>
        The project will be run according to Wisteria Web Solutions‘ Project
        Process. A simple guide to this process can be found at Web Design Process.
        If Wisteria Web Solutions has produced a proposal document for the
        project then Wisteria Web Solutions will commence work at once, provided
        you supply us with:</br>
      </p>
      <ul>
        <li>Final data, information, logos, designs, graphic and related
          materials to be incorporated into the Web solution ready for
          publication, prior to the design call. Any further material supplied
          at a later date may incur an additional charge.</li>
        <li>Pay the 50% deposit prior to the design call</li>
        <li>Where applicable comply with all the terms of the Web hosting agreement</li>
        <li>Should you decide to make design changes once the concept has been
          signed off, Wisteria Web Solutions may quote for an additional charge.</li>
      </ul>
      <p>
        During the Web Site Development Cycle Wisteria Web Solutions may at
        intervals place versions of the client’s Web site on one of Wisteria Web
        Solutions’s demonstration servers so that the client may view and
        comment upon the Web site’s progress, and approve design concepts and
        prototypes. When both Wisteria Web Solutions and the client agree that
        the Web site meets the criteria agreed during the projecting process,
        Wisteria Web Solutions will invoice the client for the remainder of the
        amount due for the project. At Wisteria Web Solutions’s discretion,
        Wisteria Web Solutions may choose to delay publishing some clients Web
        sites until full payment for the Web design project has been received.
      </p>
      <h2>3. Acceptance Testing</h2>
      <p>
        You will conduct the acceptance tests on the deliverables within two weeks
        of installation to ensure that they perform in accordance with the
        proposal. If a deliverable does not pass the acceptance test, we will
        correct the failure. You will then repeat the acceptance test. Such
        processes shall continue until the relevant deliverable passes the
        acceptance test.</br>
        </br>
        If during the project process you request additional or changed
        functionality/content from the deliverables outlined in the specification
        or proposal, then Wisteria Web Solutions will provide a time plus
        materials quote which will be in addition to the cost of the Web project.</br>
        </br>
        The Web Solution will be designed and tested to operate on main stream
        PC and Mac web browsers. Mobile devices, such as phones and tablets,
        may require a special template design for optimal viewing, this is
        typically an extra service.</br>
      </p>
      <h2>4. Copyright</h2>
      <p>
        All material, both text and images, supplied by the client and used in
        the construction of the client’s Web site, will remain the client’s
        property. All such material will be assumed to be the property of the
        client and free to use without fear of breach of copyright laws.</br>
        </br>
        The copyright for all material provided by Wisteria Web Solutions, such
        as HTML code, graphics, photographs and text, but excluding software
        code, will remain the property of Wisteria Web Solutions until such time
        as Wisteria Web Solutions receives full payment, whereupon they will
        become the property of the client.</br>
        </br>
        All software code provided as a part of the Web site will remain at all
        times the property of Wisteria Web Solutions. The client will be granted
        a single use, single site, source code license to the software code.
        The client may not sell or redistribute the software code. The client
        may not use the software code in more than one installation. The client
        will be given access to the source code and may take the code to another
        developer for purposes of maintaining or extending the system.</br>
        </br>
        The parties acknowledge that Wisteria Web Solutions may accept jobs from
        other clients to develop Web solutions with the same or similar
        functionality to the Web solution, and that Wisteria Web Solutions may
        replicate and exploit all techniques, structures, designs and individual
        modules of program code used in the creation of the Web solution.</br>
      </p>
      <h2>5. GST</h2>
      <p>
        All prices are quoted exclusive of GST. GST is payable by New Zealand
        residents, this cost does not apply to overseas orders.</br>
      </p>
      <h2>6. Terms of Payment</h2>
      <p>
        An invoice for 50% of the price for the project will be provided on
        acceptance of the proposal. This invoice must be paid before the project
        can commence.</br>
        </br>
        Once the project is complete and approved by the client the final 50%
        will be invoiced. Payment for this invoice shall be made within 7 days
        of the date of issue of the invoice unless otherwise arranged.</br>
        </br>
        If you are responsible for withholding information for completion, the
        webite is then deemed payable in full after 30 days from initial start date.</br>
        </br>
        If we are forced to hand your account over to a debt collection agency
        for collection you will be liable for any collection costs incurred.
      </P>
      <h2>7. Maintenance</h2>
      <p>
        Wisteria Web Solutions provides maintenance services for its clients;
        however any maintenance or updates are outside the scope of the design
        project. When updates are required, Wisteria Web Solutions will provide
        time and materials based quotes for this work. If a Web site development
        agreement has been signed then clauses relating to support services will
        be applicable.
      </p>
      <h2>8. Validity of the Agreement</h2>
      <p>
        Either party may terminate the agreement on 7 working days’ written
        notice to the other party.</br>
        </br>
        Wisteria Web Solutions reserves the right to cease immediately without
        liability to provide the service and to terminate this agreement if you
        should go into liquidation or bankruptcy, or if you fail to meet any
        obligation in accordance with this agreement.</br>
        </br>
        If at any point during the Web Site Development Cycle a client wishes to
        cancel, they may do so but will be invoiced an amount that Wisteria Web
        Solutions judges to be proportional to the amount of work completed on
        the project.</br>
        </br>
        If the total amount of work completed equals less than the 50% deposit
        paid by the client, Wisteria Web Solutions will refund the portion of
        payment not used.  If the total amount of work completed is more than
        the first 50% invoiced, Wisteria Web Solutions has the right to invoice
        the extra hours completed.
      </p>
      <h2>9. Assignment and Delegation</h2>
      <p>
        We may assign or transfer our rights and responsibilities under this
        contract to another party.</br>
        </br>
        We may also subcontract the performance of any of our responsibilities
        under this contract to another party.</br>
        </br>
        You may not assign or transfer any of your rights or responsibilities
        under this contract to anyone else without our prior written consent.
      </p>
      <h2>10. Disclaimer and exclusion of liability</h2>
      <p>
        You agree that Wisteria Web Solutions will not be liable for any
        indirect or consequential damages, including but not limited to, loss of
        profits or for any claim made on the client by any other party, even
        though Wisteria Web Solutions may have been notified of such damage or
        claims.</br>
        </br>
        We shall not be liable to you for any loss or damage directly or
        indirectly arising out of or in connection with any delay in delivery of
        the goods or failure to perform its obligations under this agreement
        where such delay is caused directly or indirectly by an act of God,
        armed conflict, labour dispute, civil commotion, intervention of a
        government, inability to obtain labour, materials or manufacturing
        facilities, accidents, interruptions of, or delay in, transportation or
        any other cause beyond our control.</br>
        </br>
        You agree to defend, indemnify and hold us harmless from and against any
        and all claims, losses, liabilities and expenses (including attorneys’
        fees) related to or arising out of the services provided by us to you
        under this agreement, including without limitation claims made by third
        parties (including your customers) related to any false advertising
        claims, liability claims for products or services sold by you, claims
        for patent, copyright or trademark infringement, claims due to
        disruption or malfunction of services provided hereunder (including
        malfunction of webite/software or internet), or for any content
        submitted by you for publication by us.</br>
        </br>
        If, despite the other provisions of this agreement, Wisteria Web
        Solutions is found to be liable to you then its liability for any single
        event or series of related events is limited to the fees.</br>
        </br>
        Due to the public nature of the Internet, all material submitted by you
        for publication will be considered publicly accessible. Wisteria Web
        Solutions does not screen in advance customer material submitted to
        Wisteria Web Solutions for publication. Wisteria Web Solutions’s
        publication of material submitted by customers does not create any
        express or implied approval by Wisteria Web Solutions of such material,
        nor does it indicate that such material complies with the terms of this
        agreement.
      </p>
      <h2>11. Applicable Law</h2>
      <p>
        The Consumer Guarantees Act 1993 may apply to any services we provide to
        you if you acquire these services for personal, domestic or household use.
        If this act applies, all rights you may have under it apply in addition
        to the rights you may have in this agreement. Nothing in this agreement
        will limit or exclude your rights under this act.</br>
        </br>
        Where you acquire or hold yourself out as acquiring our services for the
        purpose of a business, then you agree that the provisions of the
        Consumers Guarantee Act 1993 will not apply to our service or the
        provision of any other services to you.</br>
        </br>
        This agreement shall be deemed to be an agreement made in New Zealand
        and shall be subject to, governed by and interpreted in accordance with
        the laws of New Zealand.
      </p>
      <h2>12. Non Waiver</h2>
      <p>
        Failure by any party to enforce any right or obligation with respect to
        any matter arising in connection with this contract shall not constitute
        a waiver as to that matter or any other matter either then or in the
        future. Any waiver of any right or obligation under this contract shall
        only be of any force and effect if such waiver is in writing and is
        expressly stated to be a waiver of a specified right or obligation under
        this contract.
      </p>
    </div>
  </div>
</div>
