<% provide(:title, "Terms and Conditions") %>
<div class="content-container ">
  <div class="page-content">
    <h1>Terms and conditions</h1>
    <h2>Use of this website</h2>
    <p>
      Auckland Council owns and operates this website.

      By accessing or using this website and any online services, you are deemed to have accepted Auckland Council's terms and conditions of use. These include the terms and conditions set out in this page, together with any applicable terms or conditions on other parts of this website relating to any information content or online services.

      Auckland Council may make changes to this website, online services, or to its terms and conditions of use at any time without notice.

      You agree that your use of this website and any information and online services will comply with Auckland Council's terms and conditions and with all applicable laws.

      Online services
      Online services means any services Auckland Council provides online through this website for users to access, including for the provision of certain information, bookings and applications, and processing transactions and payments.

      Registration for online services
      Some online services (including access to information and certain parts of this website) are only available to users who register for those services or for access. You must provide current, complete, and accurate information as part of any registration application. Auckland Council may reject an application for registration.

      If you register for such online services or access, and are issued with a username and password, you will be responsible for any use of Online Services and this website through use of your username and password, and must keep your username and password secret and secure.

      Transactions
      Transactions (including payments) through online services are binding on you. You should keep a copy of any transaction confirmation your records. You are entirely responsible for the accuracy of all details (including credit card details) you provide in relation to transactions you make through online services.

      Termination of your online services registration
      You may terminate your registration and use of online services by submitting a request that Auckland Council deletes your registration (including your username and password, if applicable).

      Auckland Council may terminate your registration and use of any online services and this website immediately without notice if in Auckland Council's opinion you have breached any of Auckland Council's terms and conditions, or your use is unlawful, unauthorised, dishonest, or inappropriate.

      Any termination of your registration and right to use online services and this website will not affect any rights or obligations which have accrued prior to termination.

      Copyright
      The material provided on this website is either owned or licenced by Auckland Council and is subject to copyright law.

      You are not permitted to copy and sell or exploit for commercial purposes, any material on this website.

      You are permitted to access, view, print, and copy the material on this website for non-commercial personal or internal business purposes.

      You may also reproduce material on this website free of charge and without further permission so long as you do so for informational purposes, reproduce it accurately, do not use it in a misleading or derogatory context, and acknowledge that the information is sourced from Auckland Council and is subject to copyright.

      However, registered and unregistered trademarks, logos, and service marks used on this website and the online services (which are owned by Auckland Council or others) must not be used without specific prior written permission of the owner.

      Links to other websites
      This website may include links or references to other websites. Auckland Council does not control or endorse those websites and are not responsible for their content or activity. Your use of such links and other websites is your responsibility and is at your own risk.

      Privacy policy
      By using this website and any online services you are agreeing to Auckland Council collecting information about you. Any information we collect from you will be dealt with in accordance with law and with Auckland Council's privacy policy. Auckland Council is entitled to store, use and rely on all information and documents provided by you.

      Information sent electronically
      By using this website and any online services, you agree to provide information and documents in electronic form and to the standards (and in the form) required for the relevant transaction, and you agree to receive information and documents from us, including in electronic form.

      If someone submits or requests information on your behalf, we will treat that person as your agent and assume they have your consent to submit the information, make the request, and to receive information and documents from us in electronic form.

      Disclaimer and exclusion of liability
      This website is provided for your use 'as is'. Your reliance upon and use of this website, its content and any online services, is entirely at your own judgement and risk.

      Auckland Council has made every reasonable effort to ensure that this website, its content and the online services:

      contain current, accurate and complete information;
      function correctly;
      are available to and accessible by you and that access is uninterrupted;
      are provided through a secure website;
      are free of errors, defects, viruses, malware or other harmful components;
      and do not infringe any person's rights.
      However, to the maximum extent permitted by law Auckland Council does not (expressly or impliedly) warrant any of those things.

      Where this website allows users to opinions and comments, they are the opinions and comments of the user not Auckland Council. Auckland Council will endeavour to correct any error, inaccuracy or defects, and remove any inappropriate or infringing content, brought to its attention or that it becomes aware of.

      To the maximum extent permitted by law, Auckland Council excludes and disclaims:

      all representations and warranties of any kind (express or implied) in relation to this website or the online services and the content, information and services provided on or through this website or the online services including, without limitation, any implied warranties of merchantability, suitability, satisfactory quality, fitness for purpose, freedom from computer virus or malware, security, the availability of this website, the accuracy or completeness of information, or non-infringement;
      all liability for any loss or damage arising from the direct or indirect use of, or inability to use, this website, it's content or the online services (including where you view, access, download, use or rely upon content, or link to this website or the online services), or from the corruption or loss of any data, inaccurate data entry or the interception or 'hacking' of data by unauthorised third parties;
      all responsibility and liability for the security of your username and password for any online services, or for online services, activity conducted in connection with your username and password (whether authorised by you or not).
      Governing law
      These terms and conditions and any matters or disputes connected with this website or any online services will be exclusively governed by and interpreted in accordance with New Zealand laws and dealt with by New Zealand courts.
    </p>
  </div>
</div>
