<% provide(:title, "Terms and Conditions") %>
<div class="content-container ">
  <div class="page-content">
    <div class="terms">
      <h1>General Terms and conditions</h1>
      <h2>Use of this website</h2>
      <p>
        By accessing or using this website and any online services, you are deemed
        to have accepted Wisteria Web Solutions' terms and conditions of use. These
        include the terms and conditions set out in this page, together with any
        applicable terms or conditions on other parts of this website relating to
        any information content or online services.</br>
        </br>
        Wisteria Web Solutions may make changes to this website, online services, or to
        its terms and conditions of use at any time without notice.</br>
        </br>
        You agree that your use of this website and any information and online
        services will comply with Wisteria Web Solutions' terms and conditions and with
        all applicable laws.</br>
      </p>
      <h2>Online services</h2>
      <p>
        Online services means any services Wisteria Web Solutions provides online through
        this website for users to access, including for the provision of certain
        information, bookings and applications, and processing transactions and
        payments.</br>
      </p>
      <h2>Registration for online services</h2>
      <p>
        Some online services (including access to information and certain parts of
        this website) are only available to users who register for those services
        or for access. You must provide current, complete, and accurate information
        as part of any registration application.
        Wisteria Web Solutions may reject an application for registration.</br>
        </br>
        If you register for such online services or access, and are issued with a
        username and password, you will be responsible for any use of Online Services
        and this website through use of your username and password, and must keep
        your username and password secret and secure.</br>
      </p>
      <h2>Transactions</h2>
      <p>
        Transactions (including payments) through online services are binding on
        you. You should keep a copy of any transaction confirmation your records.
        You are entirely responsible for the accuracy of all details (including
        credit card details) you provide in relation to transactions you make
        through online services.</br>
      </p>
      <h2>Termination of your online services registration</h2>
      <p>
        You may terminate your registration and use of online services by
        submitting a request that Wisteria Web Solutions deletes your registration
        (including your username and password, if applicable).</br>
        </br>
        Wisteria Web Solutions may terminate your registration and use of any online
        services and this website immediately without notice if in Wisteria Web Solutions'
        opinion you have breached any of Wisteria Web Solutions' terms and
        conditions, or your use is unlawful, unauthorised, dishonest, or
        inappropriate.</br>
        </br>
        Any termination of your registration and right to use online services and
        this website will not affect any rights or obligations which have accrued
        prior to termination.</br>
      </p>
      <h2>Copyright</h2>
      <p>
        The material provided on this website is either owned or licenced by
        Wisteria Web Solutions and is subject to copyright law.</br>
        </br>
        You are not permitted to copy and sell or exploit for commercial purposes,
        any material on this website.</br>
        </br>
        Registered and unregistered trademarks, logos, and service marks
        used on this website and the online services (which are owned by Wisteria Web Solutions
        or others) must not be used without specific prior written permission of
        the owner.</br>
      </P>
      <h2>Links to other websites</h2>
      <p>
        This website may include links or references to other websites. Wisteria Web Solutions
        does not control or endorse those websites and are not responsible for
        their content or activity. Your use of such links and other websites is
        your responsibility and is at your own risk.</br>
      </p>
      <h2>Privacy policy</h2>
      <p>
        By using this website and any online services you are agreeing to Wisteria Web Solutions
        collecting information about you. Any information we collect from you will
        be dealt with in accordance with law and with Wisteria Web Solutions' privacy
        policy. Wisteria Web Solutions is entitled to store, use and rely on all
        information and documents provided by you.</br>
      </p>
      <h2>Information sent electronically</h2>
      <p>
        By using this website and any online services, you agree to provide
        information and documents in electronic form and to the standards (and in
        the form) required for the relevant transaction, and you agree to receive
        information and documents from us, including in electronic form.</br>
        </br>
        If someone submits or requests information on your behalf, we will treat
        that person as your agent and assume they have your consent to submit the
        information, make the request, and to receive information and documents
        from us in electronic form.</br>
      </p>
      <h2>Disclaimer and exclusion of liability</h2>
      <p>
        This website is provided for your use 'as is'. Your reliance upon and use
        of this website, its content and any online services, is entirely at your
        own judgement and risk.</br>
        </br>
        Wisteria Web Solutions has made every reasonable effort to ensure that this
        website, its content and the online services:</br>
        </br>
      </p>
      <ul>
        <li>contain current, accurate and complete information;</li>
        <li>function correctly;</li>
        <li>are available to and accessible by you and that access is uninterrupted;</li>
        <li>are provided through a secure website;</li>
        <li>are free of errors, defects, viruses, malware or other harmful components;</li>
        <li>and do not infringe any person's rights.</li></br>
      </ul>
      <p>
        However, to the maximum extent permitted by law Wisteria Web Solutions does not
        (expressly or impliedly) warrant any of those things.</br>
        </br>
        Where this website allows users to opinions and comments, they are the
        opinions and comments of the user not Wisteria Web Solutions.
        Wisteria Web Solutions will endeavour to correct any error, inaccuracy or
        defects, and remove any inappropriate or infringing content, brought to
        its attention or that it becomes aware of.</br>
        </br>
        To the maximum extent permitted by law, Wisteria Web Solutions excludes and disclaims:</br>
        </br>
        all representations and warranties of any kind (express or implied) in
        relation to this website or the online services and the content,
        information and services provided on or through this website or the online
        services including, without limitation, any implied warranties of
        merchantability, suitability, satisfactory quality, fitness for purpose,
        freedom from computer virus or malware, security, the availability of this
        website, the accuracy or completeness of information, or non-infringement;</br>
        all liability for any loss or damage arising from the direct or indirect
        use of, or inability to use, this website, it's content or the online
        services (including where you view, access, download, use or rely upon
        content, or link to this website or the online services), or from the
        corruption or loss of any data, inaccurate data entry or the interception
        or 'hacking' of data by unauthorised third parties;</br>
        all responsibility and liability for the security of your username and
        password for any online services, or for online services, activity
        conducted in connection with your username and password (whether
        authorised by you or not).</br>
      </p>
      <h2>Governing law</h2>
      <p>
        These terms and conditions and any matters or disputes connected with this website or any online services will be exclusively governed by and interpreted in accordance with New Zealand laws and dealt with by New Zealand courts.
      </p>
    </div>
  </div>
</div>
