<% provide(:title, "Terms and Conditions") %>
<div class="content-container ">
  <div class="page-content">
    <div class="terms">
      <h1>Web Marketing and Advertising Terms and Conditions</h1>
      <p>
        Wisteria Web Solutions will endeavour to operate in a fair and reasonable
        manner at all times and it is part of our ethos to ensure we maintain a
        great relationship with our clients. It is, however, important to have
        certain contractual aspects agreed to in order to protect both parties.
        By commissioning Web site marketing services from Wisteria Web Solutions,
        you are agreeing to the following terms and conditions.
      </p>
      <h2>1. Relationship of the Parties</h2>
      <p>
        The parties intend that an independent contractor relationship will be
        created by this contract, and that no partnership, joint venture or
        employee/employer relationship is intended or implied.</br>
      </p>
      <h2>2. Project Process</h2>
      <p>
        Wisteria Web Solutions cannot always guarantee to start work immediately
        on a project but will arrange a date with the client as to when work can
        commence. The timing of the project process may be subject to provision
        of FTP access, feedback on the keyword phrases for your project and
        provision of any text required for new pages.
      </p>
      <h2>3. GST</h2>
      <p>
        All prices are quoted exclusive of GST. GST is payable by New Zealand
        residents, this cost does not apply to overseas orders.</br>
      </p>
      <h2>4. Terms of Payment</h2>
      <p>
        An invoice for 50% of the price for the project will be provided on
        acceptance of the proposal. This invoice must be paid before the project
        can commence.</br>
        </br>
        Once the project is complete and approved by the client the final 50%
        will be invoiced. Payment for this invoice shall be made within 7 days
        of the date of issue of the invoice unless otherwise arranged.</br>
        </br>
        Ongoing marketing/ search engine optimisation services include an
        initial project set up and monthly services, as outlined in the proposal
        document. Payment of invoices for these services shall be made within
        7 days of the date of issue of the invoice unless otherwise arranged.
        </br>
        If you are responsible for withholding information for completion, the
        webite is then deemed payable in full after 30 days from initial start date.</br>
        </br>
        If we are forced to hand your account over to a debt collection agency
        for collection you will be liable for any collection costs incurred.
      </P>
      <h2>5. Web Design</h2>
      <p>
        Wisteria Web Solutions provides Web design, maintenance and update
        services for its clients; Web design, maintenance or updates are outside
        the scope of marketing or optimisation services. When work outside of
        Web marketing services is required, Wisteria Web Solutions will provide
        time-based quotes for this work. View our Web design and development
        terms and conditions.
      </p>
      <h2>6. Validity of the Agreement</h2>
      <p>
        Either party may terminate the agreement on 7 working days’ written
        notice to the other party.</br>
        </br>
        Wisteria Web Solutions reserves the right to cease immediately without
        liability to provide the service and to terminate this agreement if you
        should go into liquidation or bankruptcy, or if you fail to meet any
        obligation in accordance with this agreement.</br>
        </br>
        If at any point during the Web marketing service, a client wishes to
        cancel, they may do so. In all circumstances, Wisteria Web Solutions
        will retain a minimum of 25% of the service fee and, in agreement with
        the client, will invoice above that amount proportional to the amount
        of work completed on the project.</br>
        </br>
        If an marketing strategy has been provided to the client, the full
        amount of the service is deemed payable. The strategy remains the
        property of Wisteria Web Solutions until such time that the client has
        paid the final 50% of the service amount.</br>
        </br>
        If it is agreed by both parties that if the amount of work completed is
        less than half of the service (and a strategy document has not provided)
        25% of the full service cost will be refunded.
      </p>
      <h2>7. Assignment and Delegation</h2>
      <p>
        We may assign or transfer our rights and responsibilities under this
        contract to another party.</br>
        </br>
        We may also subcontract the performance of any of our responsibilities
        under this contract to another party.</br>
        </br>
        You may not assign or transfer any of your rights or responsibilities
        under this contract to anyone else without our prior written consent.
      </p>
      <h2>8. Disclaimer and exclusion of liability</h2>
      <p>
        You agree that Wisteria Web Solutions will not be liable for any
        indirect or consequential damages, including but not limited to, loss of
        profits or for any claim made on the client by any other party, even
        though Wisteria Web Solutions may have been notified of such damage or
        claims.</br>
        </br>
        We shall not be liable to you for any loss or damage directly or
        indirectly arising out of or in connection with any delay in delivery of
        the goods or failure to perform its obligations under this agreement
        where such delay is caused directly or indirectly by an act of God,
        armed conflict, labour dispute, civil commotion, intervention of a
        government, inability to obtain labour, materials or manufacturing
        facilities, accidents, interruptions of, or delay in, transportation or
        any other cause beyond our control.</br>
        </br>
        You agree to defend, indemnify and hold us harmless from and against any
        and all claims, losses, liabilities and expenses (including attorneys’
        fees) related to or arising out of the services provided by us to you
        under this agreement, including without limitation claims made by third
        parties (including your customers) related to any false advertising
        claims, liability claims for products or services sold by you, claims
        for patent, copyright or trademark infringement, claims due to
        disruption or malfunction of services provided hereunder (including
        malfunction of webite/software or internet), or for any content
        submitted by you for publication by us.</br>
        </br>
        If, despite the other provisions of this agreement, Wisteria Web
        Solutions is found to be liable to you then its liability for any single
        event or series of related events is limited to the fees.</br>
        </br>
        Due to the public nature of the Internet, all material submitted by you
        for publication will be considered publicly accessible. Wisteria Web
        Solutions does not screen in advance customer material submitted to
        Wisteria Web Solutions for publication. Wisteria Web Solutions’s
        publication of material submitted by customers does not create any
        express or implied approval by Wisteria Web Solutions of such material,
        nor does it indicate that such material complies with the terms of this
        agreement.
      </p>
      <h2>9. Applicable Law</h2>
      <p>
        The Consumer Guarantees Act 1993 may apply to any services we provide to
        you if you acquire these services for personal, domestic or household use.
        If this act applies, all rights you may have under it apply in addition
        to the rights you may have in this agreement. Nothing in this agreement
        will limit or exclude your rights under this act.</br>
        </br>
        Where you acquire or hold yourself out as acquiring our services for the
        purpose of a business, then you agree that the provisions of the
        Consumers Guarantee Act 1993 will not apply to our service or the
        provision of any other services to you.</br>
        </br>
        This agreement shall be deemed to be an agreement made in New Zealand
        and shall be subject to, governed by and interpreted in accordance with
        the laws of New Zealand.
      </p>
      <h2>10. Non Waiver</h2>
      <p>
        Failure by any party to enforce any right or obligation with respect to
        any matter arising in connection with this contract shall not constitute
        a waiver as to that matter or any other matter either then or in the
        future. Any waiver of any right or obligation under this contract shall
        only be of any force and effect if such waiver is in writing and is
        expressly stated to be a waiver of a specified right or obligation under
        this contract.
      </p>
      <h2>11. Web Marketing Liability Statement</h2>
      <p>
        Web site promotion is a complex area with many variables, and Wisteria
        Web Solutions cannot offer you a guarantee that your site will get high
        rankings for your preferred phrases, especially in very competitive
        market areas.</br>
        </br>
        Wisteria Web Solutions will not be liable for any loss or damages
        arising, either directly or indirectly, from search engine rankings.
        Wisteria Web Solutions will also not be liable for any loss or damages
        sustained in the event that search engines no longer favour Wisteria Web
        Solutions’s techniques or no longer recognised Wisteria Web Solutions’s
        website, or sites/ businesses associated with Wisteria Web Solutions.
      </p>
    </div>
  </div>
</div>
