<% provide(:title, "プライバシーポリシー") %>
<div class="content-container ">
  <div class="page-content">
    <div class="terms">
      <h1>Privacy Policy</h1>
      <p>
        The privacy of your personal information is important to us.
      </p>
      <h2>Customer Privacy Policy</h2>
      <p>
        Our Customer Privacy Policy sets out how we collect, use, protect and share your personal information. It incorporates the requirements set out in the Privacy Act 1993. The Privacy Act is supervised by the New Zealand Privacy Commissioner.
      </p>
      <h2>Collection and use of personal information</h2>
      <p>
        We collect personal information such as name and email addresses from
        enquirers and those requesting to receive email newsletters.
        We collate this information to:</br>
        </br>
      </p>
      <ul>
        <li>Enable us to respond to enquirers</li>
        <li>Send newsletters to those who have made a request</li></br>
      </ul>
      <p>
        No information is shared or sold to any third party company.
        We will immediately remove you from our database if requested.</br>
      </p>
      <h2>Storage and security of personal information</h2>
      <p>
        When any online services are provided which involve visitors sending
        personal financial information to this website and subsidiary websites,
        a secure transmission method will be used.</br>
        </br>
        All Wisteria Web Solutions employees and data processors who have access to,
        and are associated with the processing of, personal data are obliged to
        respect the confidentiality of our customers and visitors' personal data.</br>
      </p>
    </div>
  </div>
</div>
