<footer class="footer">
  <h3>
    Wisteria Web Solutions 2018
  </h3>
  <nav class="footer-nav nav-links">
    <ul>
      <li><%= link_to t('footer.about_us'),   about_path %></li>
      <li><%= link_to t('footer.terms_and_conditions'), terms_path %></li>
      <li><%= link_to t('footer.contact_us'), contact_path %></li>
    </ul>
  </nav>
</footer>
